@font-face {
    font-family: 'Nunito';
    src: url('//PlanificationProjectWeb/public/styles/fonts/nunito/Nunito-Regular.ttf'),
    url('//PlanificationProjectWeb/public/styles/fonts/nunito/Nunito-Black.ttf'),
}

body {
    font-family: Nunito, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.form {
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    background-color: #3e5baa;
    border-radius: 5%;
    padding: 5%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 5%;
    padding: 5% 0% 5%;
    margin: 5% 0% 5%;
}

.form-control {
    background-color: white;
    border: 0mm solid;
}

::placeholder {
    color: #000000;
    font-size: 1em;
    padding-left: 5%;
}

button {
    border: 0;
    border-radius: 5%;
    background-color: rgb(255, 166, 47);
    padding: 5%;
    margin-top: 5%;
}

a {
    color: rgb(255, 166, 47);
}
