@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,800;1,700&display=swap');


.slideBar{
  width: 200px;
  height: 100%;
  background-color: #559CB5;
  border-radius: 20px;
  border-top-right-radius: 0px;
  position: fixed;
  margin-left: 0px;
  padding: 20px;
}

.listBtn{
  list-style: none;
  padding: 10px;
  margin: auto;
}

.btnMenu{
  background-color: #3E5BA1;
  border-color: white;
  border-radius: 10px;
  color: white;
  border: 3px solid white;
  width: 150px;
  height: 50px;
  margin: 10px;
  transition: 0.5s;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;

}

.btnMenu:hover{
  background-color: white;
  color: #3E5BA1;
  transition: 0.5s;
  font-size: 20px;
}

.logo_app{
  width: 200px;
  height: 200px;
  margin: auto;
}
h1{
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.listSearch{
  list-style: none;
  margin: 0px;
}

.searchBar{
  width:180px;
  height: 35px;
  border-radius: 5px;
  margin: auto;
  border: none;
  color: #B6B6B6;
  background-color: #585858;
}
