@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,800;1,700&display=swap');


.slideBar{
  width: 200px;
  height: 100%;
  /* background-color: #559CB5; */
  /* background-color: #242da5; */
  background: #0d1366;
  border-radius: 20px;
  border-top-right-radius: 0px;
  /* position: fixed; */
  margin-left: 0px;
  padding: 20px;
  overflow: scroll;
  position: fixed;
}
.searchSection{
  margin-top: 10px;
}

.listBtn{
  list-style: none;
  padding: 10px;
  margin: auto;
}

.btnMenu{
  background: #0d1366;
  border-color: white;
  border-radius: 10px;
  color: white;
  border: 3px solid white;
  width: 150px;
  height: 50px;
  margin: 10px;
  transition: 0.5s;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;


}

.btnMenu:hover{
  background-color: white;
  color: #242da5;
  transition: 0.5s;
  font-size: 20px;
}

.btnMenuPlus{
  background: #0d1366;
  border-color: white;
  border-radius: 10px;
  color: white;
  border: 3px solid white;
  width: 170px;
  height: 50px;
  margin: 10px;
  transition: 0.5s;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;


}

.btnMenuPlus svg{
  display: flex;
}

.btnMenuPlus:hover{
  background-color: white;
  color: #242da5;
  transition: 0.5s;
  font-size: 16px;
}

.logo_app{
  width: 200px;
  height: 200px;
  margin: auto;
}
h1{
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.listSearch{
  list-style: none;
  margin: 0px;
}

.searchBar{
  width:180px;
  height: 35px;
  border-radius: 5px;
  margin: auto;
  border: none;
  color: #585858;
  background-color: white;
  transition: 0.8s;
}

.searchBar:hover{
  background-color: #585858;
  transition: 0.8s;
  color: #B6B6B6;
}

.searchDate{
  width: 120px;
  height: 25px;
  border-radius: 5px;
  padding:2px;
  border-style: none;
  background-color: white;
  color: #585858;
  margin-left: 10px;
  transition: 0.8s;
}

.searchDate:hover{
  color: white;
  background-color: #585858;
  transition: 0.8s;
}

.rechercheDate{
  display: flex;
}

.rechercheDate svg{
  color: white;
}

.rechercheLieu{
  display: flex;
}

.searchPlace{
  width: 140px;
  height: 30px;
  border-radius: 5px;
  padding:2px;
  border-style: none;
  background-color: white;
  color: #585858;
  margin-left: 10px;
  transition: 0.8s;
  margin-top: 10px;
}

.searchPlace:hover{
  color: white;
  background-color: #585858;
  transition: 0.8s;
}

.rechercheLieu svg{
  color: white;
  margin-top: 10px;
}

.nombreParticip{
  color: white;
  font-family: 'Fira-Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-top: 30px;
}

.selectNombParticip{
  border-style: none;
  height: 25px;
  font-family: 'Fira-Sans', sans-serif;
  font-weight: 400;
  border-radius: 5px;
  color: #585858;
  margin-top: 1px;
  padding: 2px;
}

.iconUser svg{
  color: white;
  font-size: 20px;
}

/* .iconUser{
  color:white;
  font-size: 18px;
  font-family: 'Fira-Sans', sans-serif;
  display: flex;
  font-weight: 600;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  border-style: solid;
  border-color: white;
} */
