<!DOCTYPE html>
<html lang="f" dir="ltr">
  <head>
    <link rel="stylesheet" href="public/styles/CSS/homeStyle.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <div class="slideBar">
      <img src="" alt="">
      <ul>
        <li>yo</li>
        <li>yo</li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

  </body>
</html>
