<!DOCTYPE html>
<html lang="f" dir="ltr">
  <head>
    <link rel="stylesheet" href="{{asset('/styles/CSS/homeStyle.css')}}">
    <link rel="stylesheet" href="{{asset('/styles/CSS/slideBarStyle.css')}}">

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <div class="slideBar">
      <img src="" alt="">

      <ul class="listBtn">
        <li>
          <button type="button" name="button" class="btnMenu">teste</button>
        </li>
        <li>
          <button type="button" name="button" class="btnMenu">teste</button>
        </li>
        <li>
          <button type="button" name="button" class="btnMenu">teste</button>
        </li>
        <li>
          <button type="button" name="button" class="btnMenu">teste</button>
        </li>
      </ul>


    </div>

  </body>
</html>
