<!DOCTYPE html>
<html lang="f" dir="ltr">
  <head>
    <link rel="stylesheet" href="{{asset('/styles/CSS/homeStyle.css')}}">
    <link rel="stylesheet" href="{{asset('/styles/CSS/slideBarStyle.css')}}">

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <!-- //////////  Le Bandeau de la Page ////////// -->
    <div class="slideBar">
      <img class="logo_app" href="#" src="{{asset('/img/logo_app-eventOrange.png')}}" alt="">


      <div class="searchSection">
        <div class="listSearch">
          <div>
            <h1>Rechercher</h1>
          </div>
          <div>
            <input class="searchBar"type="text" name="" value="">
          </div>
          <div>

          </div>
          <div>

          </div>
        </div>

      </div>

<br>
      <ul class="listBtn">
        <li>
          <button type="button" name="button" class="btnMenu">teste</button>
        </li>
        <li>
          <button type="button" name="button" class="btnMenu">teste</button>
        </li>
        <li>
          <button type="button" name="button" class="btnMenu">teste</button>
        </li>
        <li>
          <button type="button" name="button" class="btnMenu">teste</button>
        </li>
      </ul>
    </div>

  </body>
</html>
