{% block body %}
	<html>
		<head>
			<title>Connexion</title>
			<link rel="stylesheet" href="{{ asset ('styles/CSS/login.css')}}">
			<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
		</head>

		<body>
			<div class="main">
				<div class="login">
					<form>
						<label for="title" aria-hidden="true">Connexion</label>
						<input class="field" type="text" name="txt" placeholder="Nom d'utilisateur ou email" required="">
						<input class="field" type="password" name="pswd" placeholder="Mot de passe" required="">
						<div class="check">
							Se souvenir de moi ?
							<input type="checkbox" name="nwlet" required=""></input>
					</div>
					<button>Se connecter</button>
				</form>
			</div>
		</body>
	</html>
</div></body>{% endblock %}
