<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ asset ('styles/CSS/reboot.css')}}">
    <link rel="stylesheet" href="{{ asset ('styles/CSS/login_inscription.css')}}">
    <title>Login</title>
  </head>
  <link href="D:\Universite\Cours\UE230 Projet\AppPlan\Web\PlanificationProjectWeb\public\styles\CSS\login_inscription.css" rel="stylesheet">

  <body class="text-center">
    
    <main class="form">
        <form>
            <h1 class="form-title">Se connecter</h1>

            <div class="form-input">
                <input type="email" class="form-control" placeholder="Adresse email">
            </div>
            <div class="form-input">
                <input type="password" class="form-control" placeholder="Mot de passe">
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Se souvenir de moi
                </label>
            </div>
            <button class="btn-lg" type="submit">Se connecter</button>
        </form>
    </main>
    
  </body>
</html>
