<!DOCTYPE html>

<html lang="fr">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ asset ('styles/CSS/register.css')}}">
    	<title>Inscription</title>
	<link rel="stylesheet" href="register.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>

<body>
	<div class="main">  	
			<div class="signup">
				<form>
					<label for="title" aria-hidden="true">Inscription</label>
					<input class="field" type="text" name="txt" placeholder="Nom d'utilisateur" required="">
					<input class="field" type="email" name="email" placeholder="Email" required="">
					<input class="field" type="password" name="pswd" placeholder="Mot de passe" required="">
					<input class="field" type="password" name="pswd" placeholder="Confirmer votre mot de passe" required="">
					<div class="check">
                        Accepter les newsletters ? <input type="checkbox" name="nwlet" required=""></input>
                    </div>
                    <button>S'inscrire</button>
				</form>
			</div>
	</div>
</body>
</html>